
html, body {
  margin: 0;
}

#first-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row;
}

#toolbox-wrapper {
  display: flex;
  height: 100%;
  width: 200px;
  background-color: rgb(200, 255, 255);
}

#right-wrapper {
  display: flex;
  width: calc(100% - 200px);
  flex-flow: column;
}

#top-wrapper {
  display: flex;
  background-color: rgb(220, 220, 220);
  height: 100px;
}

#main-wrapper {
  background-color: rgb(180, 180, 180);
  height: calc(100% - 100px);
}

#canvas-wrapper {
  margin-top: 20px;
  margin-left: 20px;
  width: 800px;
  height: 600px;
  background-color: white;
  box-shadow: 4px 4px 2px 2px black;
}

#main-canvas {
  width: 100%;
  height: 100%;
}
